//
// COLORS
//
$base-color: #fff;
$primary-color: #6534ff;

$headline-text-color: #fff;
$text-color: #2f2f2f;
$special-text-color: #546ad7;
$amount-color: #931600;

$link-color: #0781d6;
$link-color-hover: #044573;

$line-light-color: #eee;
//
// BREAKPOINTS
//
$desktop-large-min: 1200px;

$desktop-small-min: 992px;
$desktop-small-max: 1199px;

$tablet-max: 991px;
$tablet-min: 768px;
